name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      version:
        required: true
        description: Version to release
        type: string

jobs:
  release:
    name: Release
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Release
        id: release
        uses: google-github-actions/release-please-action@v3
        with:
          release-type: go
          package-name: ${{ github.event.repository.name }}
          release-as: ${{ github.event.inputs.version }}

      - name: Setup Go
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Checkout
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/checkout@v3
        with:
          ref: ${{ steps.release.outputs.tag_name }}

      - name: Set up Docker Buildx
        if: ${{ steps.release.outputs.release_created }}
        uses: docker/setup-buildx-action@v2

      - name: Set up QEMU
        if: ${{ steps.release.outputs.release_created }}
        uses: docker/setup-qemu-action@v2

      - name: Login to Docker Hub
        if: ${{ steps.release.outputs.release_created }}
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Go Release
        if: ${{ steps.release.outputs.release_created }}
        uses: goreleaser/goreleaser-action@v4
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          distribution: goreleaser
          version: latest
          args: release

      - name: Update Docker Images Description
        if: ${{ steps.release.outputs.release_created }}
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: muxiu1997/goet
          short-description: single-executable template renderer, powered by go template, sprig.
